		<table width="80%" align="center">
			<tr><td colspan=2><hr/></td><tr>
            <?if(Session::isLoggedIn()){?>
	        	<tr align="center">
					<td align="left">Logged in as: <?=Session::username()?> (<?=Session::role_name()?>)</td>
			        <td align="right"><a href="index.php?action=logout">Logout</a></td>
				</tr>
			<?}?>
			<tr>
				<td colspan=2 align="center">
					<h5><em>Database Design &copy; Owen Beste<br/>Software &copy; Plarzoid Productions, LLC</em></h5>
				</td>
			</tr>
		</table>	
	</body>
</html>
