<form method="<?=$form_method?>" action="<?=$form_action?>">
<table width="80%" align="center">
	<tr><td colspan=2 align="center">
		<h1 class="warning">Welcome!</h1><br/><h3 class="warning">Please log in to continue...</h3>
	</td></tr>
	<tr><td class="right">
			<label for="username">Username</label>
		</td><td class="left">
			<?=$page->displayVar("username")?>
	</td></tr>
	<tr><td class="right">
			<label for="password">Password</label>
		</td><td class="left">
			<?=$page->displayVar("password")?>
	</td></tr>
	<tr><td colspan=2 align="center"><?=$page->displayVar("login")?></td></tr>
</table>
</form>
