<form method="<?=$form_method?>" action="<?=$form_action?>">
<table width="80%" align="center">
	
	<?if($success){?>
        <tr><td align="center"><h1 class="success">Login Successful!</h1></td></tr>
		<tr><td align="center">Redirecting you shortly...</td></tr>
    <?} else {?>

	<tr><td colspan=2 align="center">
		<h1>Welcome!</h1><br/><h3>Please log in to continue...</h3>
	</td></tr>
	<?if(!empty($errors)){?>
		<tr><td colspan=2 align="center"><font class="warning"><?=$errors[general]?></font></td></tr>
	<?}?>
	<tr><td class="right">
			<label for="username">Username</label>
		</td><td class="left">
			<?=$page->displayVar("username")?>
	</td></tr>
	<tr><td class="right">
			<label for="password">Password</label>
		</td><td class="left">
			<?=$page->displayVar("password")?>
	</td></tr>
	<tr><td colspan=2 align="center"><?=$page->displayVar("login")?></td></tr>

	<?}?>
</table>
</form>
